// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.profiler-results {
  display: none;
}

body {
  font-family: sans-serif;
  font-size: smaller;
}

a {
  // color: rgb(52, 154, 212);
  text-decoration: none;
}

a:visited {
  color: rgb(52, 154, 212);
  text-decoration: none;
}

.fas {
  font-size: small;
  color: rgb(52, 154, 212);
}


.description {
  border: 1px solid #e7e7e7;
  background: #f3f3f3;
  border-radius: 2px;
  padding: 10px;
  line-height: 1px;
}

label {
  font-weight: bold;
}

input {
  width: 90%;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #b1b1b1;

}

input[type="submit" i] {
  width: auto;
  padding: 10px;
  background-color: rgb(52, 154, 212);
  color: white;
  border: none;
  box-shadow: none;
}

input[name="task[details]"] {
  line-height: 3;
}
